
div{
    font-family: Georgia,FangSong;
}


h1{
    font-family: FangSong;
}


h2{
    font-family: FangSong;
}


h3{
    font-family: Georgia;
}

.top-text{
    display: flex;
    justify-content: center;
    
}
.cotact-detail{
    flex-grow: 1;
}

.icon{
    position: relative;
    top: 7px;
}
.icon-gif{
    position: relative;
    top: 10px;
}



.banner-top {
    width: 100%;
    background: url(./resources/banner.png) center;
    height: 260px;
    background-size: cover;
}

@media only screen and (max-width: 640px){

    .banner-top{
        height: 200px;
    }
}

.content-container{
    position: relative;
    top: 30px;
    height: 100px;
    text-align: center;
    display: flex;
}

.content{
   
    width: 33.3%;
   
}

.content-text{
    position: relative;
    top:15px;
    transition: 0ms;
}

.content-box{
    display: inline-block;
    width: 100px;
    height: 50px;
    border: 5px solid;
    border-color: #f8db38 #8d86f3 #ff6c80 #85ceff;
    cursor: pointer;
    transition: 0.3s linear;
    transition-delay: 0.2s;
}

.content-box:hover{
    background: #ffffff;
    color: transparent;
    transform: rotate(-45deg);
    width:50px;
    height:50px;
    font-size: smaller;
}


.box-me:hover{
    border-color: #f8db38;
}

.box-work:hover{
    border-color: #ff6c80;
}

.box-logs:hover{
    border-color: #8d86f3;
}

.seperator{
    background: #f8db38;
    margin: 30px 5% 40px 5%;
    opacity: 0.5;
    height:8px;
}

.seperator#logs{
    background: #8d86f3;
}


.seperator#work{
    background: #ff6c80;
}

.workpart{
    display: flex;
    margin: 0px 5% 0px 5%;
    justify-content: center;
}

.single-work{
    display: flex;
    justify-content: center;
    margin: 0px 25px 0px 25px;
    position: relative;
    bottom: 0; /* If I want to use transition on "bottom", here must give "bottom" an initial value */
    max-width: 20%;
    width: 200px;
    height: 300px;
    box-shadow: #6d6c6c 3px 5px 5px 3px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

.single-work#one {
    background: url(./resources/镜花水月.jpg) center center;
    background-size: cover;
}


.single-work#two{  /*id can not start with numbers*/
    background: url(./resources/foot.png) center center;
    background-size: cover;
}


.single-work:hover{
   
    position: relative;
    bottom: 10px;
}

.work-des{
    position: relative;
    top: 75%;
    background: #ffffff;
    opacity: 0.3;
    border: 1px solid;
    border-color: #6d6c6c #ffffff #ffffff #ffffff;
    
    width:60%;
    text-align: center ;
    height:18%;
}

.logpart{
    display: flex;
    margin: 0px 5% 0px 5%;
    flex-direction: column;
}

.single-log{
  
    margin: 5px 15px 15px 15px;
    position: relative;
    top: 0; /* If I want to use transition on "bottom", here must give "bottom" an initial value */
    width: 95%;
    height: 40px;
    background-color: #fcf8f8;
    box-shadow: #b7b3eb 1px 2px 1px 1px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}

.log-title{
    position: relative;
    bottom: 7px;
    left: 10px;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 80%;
}
.single-log:hover{
   
    position: relative;
    top: 10px;
}




.mainpart{
    display: flex;
    margin: 0px 5% 0px 5%;
}
.photo{
    width: 100%;
    background: url(./resources/me.jpg) center center;
    height: 700px;
    background-size: cover;
}

.introduction{
    width: 50%;
    position: relative;
    left: 10%;
    top: 15%;
    color: #ffffff;
    text-align: left;
}

