
.banner-top {
    width: 100%;
    background: url(./resources/banner.png) center;
    height: 260px;
    background-size: cover;
}

.title {
    width: 100%;
    margin:5% 5% 5px 5%;
    border: 5px solid;
    border-color: transparent transparent #a2c6df;
}

.text{
    margin:0 5% 5% 5%;
}


.seperator{
    background: #f5e06c;
    margin: 10px 2% 10px 2%;
    opacity: 0.5;
    height:2px;
}

code{
    position: relative;
    left: 30px;
}